@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');


.container {
    width: 95%;
}

.container thead th {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #F0F1F3;
    color: #667085;
    padding: 12px;
}

.container tbody td {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #858D9D;

}

.container tbody td  b{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}