@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@500;600;700&display=swap');

.container {
    scroll-behavior: auto;
}


.reoprts {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 10px 10px;
}

.reoprts p {
    color: #2B2F38;
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    /* 100% */
}

.reoprts select {
    display: flex;
    width: 18.125rem;
    height: 2.25rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 61.25rem;
    border: 1px solid #E6E6E6;
    background: #FFF;
}

.reoprts button {
    border: none;
    margin-right: 1.5rem;
    display: flex;
    padding: 0.575rem 0.75rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 54.9375rem;
    background: #F6F6F6;
    color: #AAA;
    font-family: 'Raleway';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    /* 150% */
}

.revenue {
    margin-left: 6rem;
    margin-top: 1rem;
}

.mreoprts {
    display: none;
}

@media screen and (max-width:768px) {
    .reoprts p {
        display: none;
    }

    .reoprts select {
        display: none;
    }

    .reoprts button {
        display: none;
    }

    .mreoprts {
        display: block;
        display: flex;
        justify-content: space-between;
        object-fit: contain;
    }

    .mreoprts img {
        margin: 5px;
        border-radius: 7px;
        background: #E4E4EC;
    }

    .mreoprts p {
        color: #2B2F38;
        font-family: 'Raleway';
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .mreoprts select {
        display: flex;
        margin: 5px;
        width: 11rem;
        height: 2.5rem;
        padding: 3.77px 7.541px;
        align-items: center;
        gap: 4.713px;
        flex-shrink: 0;
        border-radius: 461.876px;
        border: 0.471px solid #E6E6E6;
        background: #FFF;
    }
    .revenue{
        margin: 0px;
    }
    .revenue img{
        object-fit: contain;
        margin: 0px;
        width: 392.131px;
        height: 282.301px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #E6E6E6;
        background: #FFF;
    }

}