@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@500;600;700&display=swap');


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.tableparent {
    width: 550px;
    height: auto;
    background-color:#FFFFFF;
    border-radius: 26px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 10px;
    color: #2B2F38;
}
.top_1{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1rem;
    padding: 5px;
}
.top_2{
    font-family: 'Raleway';
   font-weight: 600;
   font-size: 1rem;
   line-height: 2rem;
   color: #7F82FF; 
}

.tableparent hr{
    margin-top: -3%;
}

.tablemain .head  {
   font-family: 'Raleway';
   font-weight: 600;
   font-size: 1rem;
   line-height: 2rem;
   color:  #B9BDC7; 
   align-items: center;
}

.tablemain body td{
    font-family: 'Raleway';
   font-weight: 600;
   font-size: 1rem;
   line-height: 2rem;
   color:  #B9BDC7; 
  
}





/* 
.sale{
    width: 600px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 10px;
    margin: 2%;
    
}

.month{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
}
.month p{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2B2F38;
}
.month select{
    width: 150px;
    height: 25px;
   
    border: none;
    border-radius: 10px;
    height: 20px;
    background: #F0F0F0 ;
}
.month select option{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 10px;
   line-height: 20px;
   color: #858D9D;
   padding: 20px;

} */



/* .tableHolder {
    margin: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tableParent {
    padding: 1%;
    border-radius: 10px;
    box-shadow: 2px 1.8px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tableRow {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
  }
  
  .profile {
    align-items: center;
    flex-direction: row;
  }
  
  .img {
    margin-right: 5%;
  }
   */