@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@500;600;700&display=swap');


.cardshome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.card {
    width: 11.03794rem;
    height: 9.84838rem;
    margin-bottom: 2rem;
    flex-shrink: 0;
    border-radius: 1.625rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 4.49206rem;
    height: 3.23425rem;
    flex-shrink: 0;
    margin: 1.3rem;
    margin-left: 3rem;
}

.card a{
    text-decoration: none;
    padding: 1rem;
    color: #2B2F38;
    /* text-align: center; */
    font-family: 'Raleway';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    /* line-height: 1.5rem; */
    /* 120% */
}

@media screen and (max-width: 700px) {
    .cards {
        background-color: rgb(211, 206, 206);
        margin: 2%;

    }

}