@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

.sidebar {
  width: 17%;
  height: 100vh;
  position: fixed;
  background-color: white;
}

.sidebar ul {
  list-style: none;
  padding: 5px;
}

.sidebar ul li:hover {
  background: #EDEDFF;
}

.sidebar ul li a:hover {
  color: #7F82FF;
}

.sidebar ul li {
  margin: 15px 0;
  padding: 5px 2px 5px 3px;
}

.sidebar ul li span {
  padding: 10px;
  margin-top: 10px;
}

.sidebar ul li a {
  border: none;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.sidebar ul li select {
  border: none;
  width: 10rem;
  color: #667085;
  font-family: 'Raleway';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  /* 142.857% */
}

.sidebar ul li select:hover {
  color: #7F82FF;
}

.sidebar ul li select option {
  color: #667085;
  font-family: 'Raleway';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.015rem; 
}
.sidebar ul li select option:hover{
  display: flex;
  width: 10rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  background: #EDEDFF;
}


.bottom {
  margin-top: 70%;
}

.logout {
  background: #FFE7E5;

}

.logout a {
  color: #D55F5A;
}

@media screen and (max-width:768px) {
  .sidebar{
    width: 100%;
    height: 100dvh;
    
  }
}