@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
  
  .sidebar {
    width: 17%;
    height: 100vh;
    position: fixed;
    background-color: white;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 5px;
  }
  .sidebar ul li:hover{
    background: #EDEDFF;
   
  }
  .sidebar ul li a:hover{
    color: #7F82FF;
  }
  .sidebar ul li {
    margin: 15px 0;
    padding: 5px 2px 5px 3px;
  }
  .sidebar ul li span{
    padding: 10px;
    margin-top: 10px;
  }

  .sidebar ul li a{
    border: none;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:  #667085;
  }
  .sidebar ul li select{
    border: none;
  }
  .options{
    border: none;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color:  #667085;
  }
  .bottom{
    margin-top: 70%;
  }
  .logout{
    background: #FFE7E5;
    
  }
  .logout a{
    color:  #D55F5A;
  }
  
  
  