@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@500;600;700&display=swap');

.container {
    display: block;
}

.details {

    margin-top: 1rem;
    border-radius: 11px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    width: 360px;
    height: auto;
    flex-shrink: 0;
}

.details hr {
    position: relative;
}

.name {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

}

.name p {
    color: #262626;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

.name p span {
    color: #858D9D;
    font-family: 'Raleway';
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 200% */
}
.img_1 img{
    margin-left: 1rem;
}

.details ul {
    list-style: none;
}


.lists_1 ul li {
    list-style: none;
}

.list_1 li {
    color: #858D9D;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.list_2 li {
    color: #262626;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}





.mdetails {
    display: block;
    width: auto;
    height: auto;
}


.modal_content button {
    border: none;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modal_content {
    object-fit: contain;
    width: Hug (385px);
    height: Hug (auto);
    padding: 10px;
    border-radius: 12px;
    gap: 20px;
    background: white;
}

.removetext{
  
    color: #F00;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
   
}



.buttons {
    display: flex;
}

.buttons .btn_1 {
    border: none;
    display: flex;
    /* width: 7.5rem; */
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 980px;
    border: 1.2px solid #7F82FF;
    background: #FFF;
    color: #7F82FF;
    font-family: 'Raleway';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    /* 142.857% */
}



.buttons .btn_2 {
    border: none;
    display: flex;
    /* width: 7.5rem; */
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 61.25rem;
    background: #7F82FF;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;

    margin-bottom: 1rem;
   
}


.paymet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paymet p {
    color: var(--grey-grey-800, #383E49);
    font-family: 'Raleway';
    margin: 1rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    /* 140% */
}

.paymet img {
  margin-top: 1rem;
}




.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forms label {
    color: #2B2F38;
    font-family: Raleway;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    /* 133.333% */
}

.forms input {
    display: flex;
    width: 18.125rem;
    height: 2.25rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 61.25rem;
    border: 1px solid #E6E6E6;
    background: #FFF;
    margin-bottom: 5px;
}

.forms select {
    display: flex;
    width: 18.125rem;
    height: 2.25rem;
    padding: 0.1rem 1rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 61.25rem;
    border: 1px solid #E6E6E6;
    background: #FFF;
    margin-bottom: 5px;
}


.conform_1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.conform {
    color: var(--grey-grey-800, #383E49);
    font-family: 'Raleway';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    /* 140% */
}

.modal_content .no {
    margin-left: 5rem;
    display: flex;
    width: 7rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 61.25rem;
    border: 1.2px solid #7F82FF;
    color: #7F82FF;
    font-family: Raleway;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
}

.modal_content .pdf {
    display: flex;
    width: 7rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.175rem;
    border-radius: 61.25rem;
    border: 1.2px solid #7F82FF;
    background: #7F82FF;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    margin-left: 1rem;
}
