@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');



.container {
    width: 80rem;
    height: auto;
    padding-bottom: 2%;
    border-width: 0px 0.5px 3px 0.5px;
    border-style: solid;
    border-color: #E6E6E6;
    margin-top: 2rem;
}

.container thead th {
    color: #667085;
    background: #F0F1F3;
    font-family: 'Raleway';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    /* 142.857% */
}

.container tbody td {
    color: #858D9D;
    font-family: 'Raleway';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;

}

.container tbody td b {
    color: #2B2F38;
    text-align: right;
    font-family: 'Raleway';
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    /* 125% */
}


.container a{
    color: #667085;
    text-decoration: none;
}

.bottom{
    margin-left: 60rem;
}
.bottom span{
    color: #2B2F38;
    font-family: sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}

.container tbody td input{
 margin: 0rem 1rem 0rem 1rem;
}