
.container{
    /* background-color: rgb(211, 206, 206); */
    background-color: #F5F4F7;
    width: 100%;
    height: auto;
    scroll-behavior: auto;
    
}

@media screen and (max-width: 700px) {
   .container{
    background-color: #F5F4F7;
   }
}